<p>
  <h2>
      <%= link_to post.title, post %>
  </h2>

  <small class="text-muted float-left">
      posted on <%= post.created_at.to_formatted_s(:long) %>
  </small>

  <div class="float-right">
    <%= form_for(Heart.new) do |f| %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.submit post.hearts.count.to_s + " hearts", class: 'btn btn-outline-danger btn-sm' %>
    <% end %>
  </div>
  <br>
</p>

<p>
    <% if post.kind == 'image' %>
        <%= image_tag post.content, style: "width: 100%" %>
    <% else %>
        <%= simple_format post.content %>
    <% end %>
</p>